/* General Banner Container */
.banner-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide all slides by default */
.slide {
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Only show the active slide */
.slide.active {
  opacity: 1;
  transform: translateX(0);
}

/* Background Image Slide */
.background-image {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -10;
}

.centered-bottom {
  position: absolute;
  bottom: 0%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  width: 80%;
}
.slide-content {
  color: white;
  max-width: 80%;
}

.slide-content h1{
  font-size: 3rem; 
 
}

.slide-content p{
  font-size: 2rem;
}


/* Side Image Slide */
.side-image-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:    #1e3a8a;
  width: 100%;
}

.side-image-content img {
  width: 45%;
  border-radius: 10px;
}

.text {
  width: 50%;
  color: white;
  padding-left: 20px;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Three Column Section */
.three-column-content {
  height: 60vh;
  background-color: #1e3a8a;
  color: white;
  text-align: center;
 
}

.three-column-title {
  padding-top: 30px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.three-column-Subtitle{
  padding-top: 30px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;

}


/* Ensure columns align properly */
.columns-wrapper {
  display: flex;
  justify-content: space-between;

  width: 80%;
  height: inherit;
  margin: auto;
 
  
}

/* Each column */
.column  { 
  color: white;
  width: 25%;
  text-align: center;
}





h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}
